.form-card {
  background: var(--surface-color);
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  max-width: 600px;
}
.form-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.form-card p {
    margin-bottom: 2rem;
    color: var(--text-light-color);
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.form-group label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.form-group input {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  color: var(--text-primary-color);
}
.form-group input:disabled {
    background-color: var(--disabled-bg-color);
}